.login_container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    
    
}
.form_section {
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container {
    max-width: 400px;
    background-color: #b5c7df;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    
   h2 {
    margin: 0;
    font-size: 3rem;
   }
    p{
        margin:0;
        font-size: 1.5rem;
        color: #242222;
    }
    form{
        display: flex;
        flex-direction: column;
        
        
       
        button {
            padding: 0.5rem 1rem;
            border-radius: 5px;
            margin: 1rem 0;
            background-color: #136ad4;
            color: white;
        }
        small {
            text-align: center;
            margin:  0;
            span {
                color: #136ad4;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


#logo {
    width: 50px;
}

.input_container {
    display: flex;
    flex-direction: column;
    label {
        margin: 0.5rem 0;
        font-size: 1rem;
        color: rgb(72, 70, 70);
    }
    input {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        outline: none;
    }
    

}



